@tailwind base;
@tailwind components;
@tailwind utilities;

.skeloSM {
    display: none;
}

.skeloMD {
    display: none;
}

.skeloLG {
    display: none;
}

@media only screen and (max-width: 640px) {
    .skeloSM {
        display: flex;
    }
}

@media only screen and (max-width: 968px) {
    .skeloMD {
        display: flex;
    }
}

@media only screen and (min-width: 1200px) {
    .skeloLG {
        display: flex;
    }
}

.cl {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}

.idk {
    top: 0;
    bottom: 0;
    margin: auto 0;
}